openapi: "3.0.0"
info:
  version: 1.0.0
  title: mixway API Documents
servers:
  - url: https://mixway.ekispert.jp
security:
  - ApiKeyAuth: []
paths:
  /v1/json/geo/point:
    get:
      tags:
        - ポート情報
      description: |-
        ### 概要
        パラメータの緯度経度、半径などから、サイクルポートとデマンドポートを返します。半径を指定しない場合は最寄りの一件を返します。<br>


        ### リクエストパラメータ
        <table class="comparison">
        <tr><th>パラメータ名</th><th>EWS</th><th>mixway</th><th>備考</th></tr>
        <tr><td>key</td><td>-</td><td>○</td><td></td></tr>
        <tr><td>geoPoint</td><td>-</td><td>○</td><td>緯度,経度(,半径)の形で指定できます。</td></tr>
        <tr><td>type</td><td>-</td><td>○</td><td>cycle,demandが指定できます。</td></tr>
        <tr><td>stationCount</td><td>-</td><td>○</td><td>返却するポート数の上限を指定できます。</td></tr>
        </table>
        <div class="about-comparison-table">
          ○＝パラメータあり　☓＝パラメータなし　両方○でも機能差異がある場合は備考欄および後述のParameters節に記載。
        </div>

        ### レスポンス
        本APIのレスポンス構造は、Mixway API独自のものになります。
      parameters:
        - name: geoPoint
          description: |-
            **緯度経度(半径)データ**。緯度経度(半径)を","で繋げた値。必須。
          in: query
          required: true
          schema:
            type: string
        - name: type
          description: |-
            cycle or demand。
          in: query
          required: false
          schema:
            type: string
        - name: stationCount
          description: |-
            1以上の数値。
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: 正常レスポンスの場合
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: key  # name of the header, query parameter or cookie
