openapi: "3.0.0"
info:
  version: 1.0.0
  title: mixway API Documents
servers:
  - url: https://mixway.ekispert.jp
security:
  - ApiKeyAuth: []
paths:
  /v1/json/course/edit:
    get:
      tags:
        - 経路の再現／定期券・指定列車利用
      description: |-
        ### 概要
        経路シリアライズデータを利用した各種経路の操作ができる機能です。指定パラメータの組み合わせによって、機能が変わります。<br>
        [駅すぱあとWebサービスの対応するAPI](http://docs.ekispert.com/v1/api/course/edit.html)<br>

        ### リクエストパラメータ
        
        <table class="comparison">
        <tr><th>パラメータ名</th><th>EWS</th><th>mixway</th><th>備考</th></tr>
        <tr><td>key</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>serializeData</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>checkEngineVersion</td><td>○</td><td>○</td><td>デフォルト値が異なる</td></tr>
        <tr><td>assignTeikiSerializeData</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>assignRoute</td><td>○</td><td>☓</td><td>assignDetailRouteの利用を推奨</td></tr>
        <tr><td>assignDetailRoute</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>assignNikukanteikiIndex</td><td>○</td><td>☓</td><td></td></tr>
        <tr><td>coupon</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>addAssignStatus</td><td>○</td><td>☓</td><td></td></tr>
        <tr><td>sectionIndex</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>lineCode</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>assignInstruction</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>assignType</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>date</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>time</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>resultDetail</td><td>○</td><td>☓</td><td>標準で有効</td></tr>
        <tr><td>addOperationLinePattern</td><td>○</td><td>☓</td><td>標準で有効</td></tr>
        <tr><td>addChange</td><td>○</td><td>☓</td><td>標準で有効</td></tr>
        <tr><td>addStop</td><td>○</td><td>☓</td><td>標準で有効</td></tr>
        <tr><td>gcs</td><td>○</td><td>☓</td><td>世界測地系のみ</td></tr>
        </table>
        <div class="about-comparison-table">
          ○＝パラメータあり　☓＝パラメータなし　両方○でも機能差異がある場合は備考欄および後述のParameters節に記述。
        </div>

        ### レスポンス
        本APIのレスポンス構造は駅すぱあとWebサービスの対応するAPI（JSON版）にほぼ準じています。そのため、ここでは相違点のみご説明します。<br>
        <br>

        - 経路シリアライズデータ(`ResultSet / Course / SerializeData`)はmixwayで独自に拡張したものであり、駅すぱあとWebサービスとの互換性はありません。
        - レスポンスの交通種別を表す要素(`ResultSet / Course / Route / Line / Type` および `ResultSet / Course / Route / Point / Station / Type`)に`car`と`cycle`が現れる場合があります。
        - 測地系は世界測地系(wgs84)固定となります。
        - 路線に会社(`ResultSet / Course / Route / Line / Corporation`)が付加されます(`resultDetail=addCorporation`を指定したのと同じ状態)。
        - 結果の区間に停車駅一覧(`ResultSet / Course / Route / Line / InsideInformation / Stop`)が付加されます。
        - `Type: "cycle"` である地点の`GeoPoint`には`lati` `longi`要素(緯度経度の度分秒表記)が含まれません。代わりに`lati_d` `longi_d`要素(10進数 度表記)をご利用ください。
        - 下記は単一の要素であっても配列になります
          - `ResultSet / Course`
          - `ResultSet / Course / Route / Line`
          - `ResultSet / Course / OperationLinePattern`
          - `ResultSet / Course / OperationLinePattern / Line`

      parameters:
        - name: serializeData
          description: |-
            **mixway形式経路シリアライズデータ**。駅すぱあとWebサービス形式経路シリアライズデータは利用できません。必須。
          in: query
          required: true
          schema:
            type: string
        - name: checkEngineVersion
          description: |-
            完全な定期経路シリアライズデータ、及び経路シリアライズデータの再現を行う場合は、シリアライズデータ作成時のエンジンバージョンと再現時のエンジンバージョンが同一かのチェックを有効にします。エンジンバージョンが異なる場合は、エラーを返します。省略可。
            指定できる値: 
            - true: チェックする
            - false: チェックしない

            Default: `false`<br>
            `※ 駅すぱあとWebサービスとはデフォルト値が異なります。`
          in: query
          required: false
          schema:
            type: string
        - name: assignTeikiSerializeData
          description: |-
            定期経路シリアライズデータ。省略可。assignDetailRouteと排他。
            ※ 詳しくは[定期情報の取得](http://docs.ekispert.com/v1/tips/create-teiki/)と[定期情報の更新](http://docs.ekispert.com/v1/tips/update-teiki/)及び[定期券利用時の運賃計算](http://docs.ekispert.com/v1/tips/fare-calculate-at-using-teiki/)をご確認ください。
          in: query
          required: false
          schema:
            type: string
        - name: assignDetailRoute
          description: |-
            [定期経路文字列](http://docs.ekispert.com/v1/dictionary/teiki-detail-route/)。`駅の名称:平均路線:方向:駅の名称...`の羅列。省略可。
            Example: `高円寺:ＪＲ中央線快速:Up:新宿:ＪＲ山手線外回り:Down:池袋 `
            ※ 詳しくは[定期情報の取得](http://docs.ekispert.com/v1/tips/create-teiki/)と[定期情報の更新](http://docs.ekispert.com/v1/tips/update-teiki/)及び[定期券利用時の運賃計算](http://docs.ekispert.com/v1/tips/fare-calculate-at-using-teiki/)をご確認ください。
          in: query
          required: false
          schema:
            type: string
        - name: coupon
          description: |-
            [回数券詳細](http://docs.ekispert.com/v1/api/coupon/detail.html)名称。省略可
          in: query
          required: false
          schema:
            type: string
        - name: sectionIndex
          description: |-
            区間インデックス。 date、time、lineCodeもしくはassignType指定時は必須。
          in: query
          required: false
          schema:
            type: integer
        - name: lineCode
          description: |-
            [列車等を特定するコード](http://docs.ekispert.com/v1/dictionary/code-for-specifying-train/)。省略可 
            詳しくは[こちら](http://docs.ekispert.com/v1/api/course/edit.html#linecode)を参照。
          in: query
          required: false
          schema:
            type: string
        - name: assignInstruction
          description: |-
            定期券・指定列車利用時の再探索モード。
            指定できる値:
            - SearchAll: 経路全体を再探索
            - SearchAfter: 指定区間より後方を再探索
            - SearchBefore: 指定区間より前方を再探索
            - Replace: 指定区間を置き換える
            - AutoNext: 次に出発する最適なダイヤの組み合わせを設定する
            - AutoPrevious: 前に出発する最適なダイヤの組み合わせを設定する 
              詳しくは[こちら](http://docs.ekispert.com/v1/api/course/edit.html#assigninstruction)を参照。
          in: query
          required: false
          schema:
            type: string
        - name: assignType
          description: |-
            定期券・指定列車利用時の日時の扱い。date、time指定時は必須。
            指定できる値:
            - departure: 発時刻
            - arrival: 着時刻
          in: query
          required: false
          schema:
            type: string
        - name: date
          description: |-
            探索日付。省略可。<br>
            Format: *YYYYMMDD*<br>
            Default: `現在日付`<br>
          in: query
          required: false
          schema:
            type: string
        - name: time
          description: |-
            探索時刻。省略可。<br>
            Format: *HHMM*<br>
            Default: `現在時刻`<br>
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 正常レスポンスの場合
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: key  # name of the header, query parameter or cookie
  schemas:
