openapi: "3.0.0"
info:
  version: 1.0.0
  title: mixway API Documents
servers:
  - url: https://mixway.ekispert.jp
security:
  - ApiKeyAuth: []
category: "駅の情報"
paths:
  /v1/json/toolbox/course/condition:
    get:
      tags:
        - 探索条件生成
      description: |-
        ### 概要
        リクエストパラメータを元に、経路探索に利用する条件を生成します。<br>
        [駅すぱあとWebサービスの対応するAPI](http://docs.ekispert.com/v1/api/toolbox/course/condition.html)<br>

        ### リクエストパラメータ
        <table class="comparison">
        <tr><th>パラメータ名</th><th>EWS</th><th>mixway</th><th>備考</th></tr>
        <tr><td>key</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>detail</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>plane</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>shinkansen</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>shinkansenNozomi</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>sleeperTrain</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>limitedExpress</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>highwayBus</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>connectionBus</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>localBus</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>midnightBus</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>ship</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>liner</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>walk</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>useJR</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>transfer</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>waitAverageTime</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>expressStartingStation</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>localBusOnly</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>transferTime</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>fuzzyLine</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>entryPathBehavior</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>surchargeKind</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>teikiKind</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>JRSeasonalRate</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>JRReservation</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>studentDiscount</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>ticketSystemType</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>preferredTicketOrder</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>nikukanteiki</td><td>○</td><td>○</td><td></td></tr>
        </table>
        <div class="about-comparison-table">
          ○＝パラメータあり　☓＝パラメータなし　両方○でも機能差異がある場合は備考欄および後述のParameters節に記載。
        </div>

        ### レスポンス
        本APIのレスポンス構造は駅すぱあとWebサービスの対応するAPI（JSON版）と完全に同一です。

      parameters:
        - name: detail
          description: |-
            詳細探索条件データ。省略可<br>Default:  `T3221233232319:F332112212000:A23121141:`
          in: query
          required: false
          schema:
            type: string
        - name: plane
          description: |-
            飛行機。省略可。<br>指定できる値:<br>- light:気軽に利用 ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、normalを指定した時と同じ挙動となります。<br>- normal:普通に利用<br>- bit:極力利用しない ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、neverを指定した時と同じ挙動となります。<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値）
          in: query
          required: false
          schema:
            type: string
        - name: shinkansen
          description: |-
            新幹線。省略可<br>指定できる値:<br>- normal:利用する<br>- never:利用しない <br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: shinkansenNozomi
          description: |-
            特急料金が加算される一部の新幹線。省略可。<br>対象となる新幹線 (区間):<br>-「ＪＲ新幹線のぞみ」 (東京 - 博多間)<br>-「ＪＲ新幹線みずほ」 (新大阪 - 博多間)<br>-「ＪＲ新幹線はやぶさ」 (東京 - 盛岡間)<br>-「ＪＲ新幹線こまち」 (東京 - 盛岡間)<br>指定できる値:<br>- normal:利用する<br>- never:利用しない ※上記の新幹線の全てが対象となります。<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: sleeperTrain
          description: |-
            寝台列車。省略可。<br>指定できる値:<br>- possible:極力利用する ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、normalを指定した時と同じ挙動となります。<br>- normal:普通に利用<br>- never:利用しない<br>Default: `never` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: limitedExpress
          description: |-
            有料特急。省略可<br>指定できる値:<br>- normal:利用する<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: highwayBus
          description: |-
            高速バス。省略可。<br>指定できる値:<br>- light:気軽に利用<br>- normal:普通に利用<br>- bit:極力利用しない ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、neverを指定した時と同じ挙動となります。<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: connectionBus
          description: |-
            連絡バス 。省略可。<br>指定できる値:<br>- light:気軽に利用 ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、normalを指定した時と同じ挙動となります。<br>- normal:普通に利用<br>- bit:極力利用しない ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、neverを指定した時と同じ挙動となります。<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: localBus
          description: |-
            路線バス 。省略可<br>指定できる値:<br>- normal:利用する<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: midnightBus
          description: |-
            深夜急行バス 。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合無効。省略可<br>指定できる値:<br>- normal:利用する<br>- never:利用しない<br>Default: `never` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: ship
          description: |-
            船 。省略可。<br>指定できる値:<br>- light:気軽に利用 ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、normalを指定した時と同じ挙動となります。<br>- normal:普通に利用<br>- bit:極力利用しない ※<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplain以外の場合、neverを指定した時と同じ挙動となります。<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: liner
          description: |-
            ライナー（乗車整理券、ライナー券、普通車指定席券が必要な列車）。<br><a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合無効。省略可<br>指定できる値:<br>- normal:利用する<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: walk
          description: |-
            駅間徒歩。 <a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合のみ有効。省略可<br>指定できる値:<br>- normal:気にならない<br>- little:少し気になる<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: useJR
          description: |-
            ＪＲ路線。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合のみ有効。省略可<br>指定できる値:<br>- light:気軽に利用<br>- normal:普通に利用<br>- bit:極力利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: transfer
          description: |-
            乗換え。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合のみ有効。省略可<br>指定できる値:<br>- normal:気にならない<br>- little:少し気になる<br>- never:利用しない<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: waitAverageTime
          description: |-
            出発駅乗車待ち平均時間の利用。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合のみ有効。省略可<br>指定できる値:<br>- true:平均待ち時間を利用する<br>- false:待ち時間なし<br>Default: `true` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: expressStartingStation
          description: |-
            特急始発駅。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合にのみ有効。省略可<br>指定できる値:<br>- possible:なるべく利用<br>- normal:普通に利用<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: localBusOnly
          description: |-
            路線バスのみ探索。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合にのみ有効。省略可<br>指定できる値:<br>- true:する<br>- false:しない<br>Default: `false` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: transferTime
          description: |-
            乗換え時間。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合は無効。省略可<br>指定できる値:<br>- normal:「駅すぱあと」の規定値<br>- moreMargin:規定値より少し余裕をみる<br>- mostMargin:規定値より余裕をみる<br>- lessMargin:規定値より短い時間にする<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: fuzzyLine
          description: |-
            固定平均路線の名称リストにおける<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/average-rail/">平均路線</a>名あいまい指定。<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/search-type/">探索種別</a>がplainの場合にのみ、<code>fixedRailList</code>パラメータに対して有効。<br>trueの場合は<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/average-rail/">平均路線</a>名に対する部分一致の指定となりますが、意図しない路線が選択される可能性があります。省略可<br>指定できる値:<br>- true:あいまいに行う（部分一致）<br>- false:厳格に行う（完全一致）<br>Default: `false` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: entryPathBehavior
          description: |-
            経路を加工する際に、経由駅を継承する。省略可<br>指定できる値:<br>- true:する<br>- false:しない<br>Default: `false` (detailパラメータ指定時はdetailの値)<br>詳しくは<a href="#entrypathbehavior">こちら</a>を参照。
          in: query
          required: false
          schema:
            type: string
        - name: surchargeKind
          description: |-
            特急料金種別希望初期値。省略可<br>指定できる値:<br>- free:自由席<br>- reserved:指定席<br>- green:グリーン<br>Default: `free` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: teikiKind
          description: |-
            定期券種別初期値。省略可<br>指定できる値:<br>- bussiness:通勤<br>- university:通学 (大学)<br>- highSchool:通学 (高校)<br>- juniorHighSchool:通学 (中学)<br>Default: `bussiness` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: JRSeasonalRate
          description: |-
            ＪＲ季節料金。省略可<br>指定できる値:<br>- true:繁忙期・閑散期の季節料金を考慮する<br>- false:無視する<br>Default: `true` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: JRReservation
          description: |-
            ＪＲ予約サービス。studentDiscountと同時指定は不可。<a href="../../search/course/extreme.html">経路探索</a>で回数券が指定された場合は、回数券が優先されます。省略可<br>指定できる値:<br>- none: 計算しない<br>＜<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/express-reservation-service/">エクスプレス予約</a>＞<br>- exYoyaku: ＥＸ予約<br>- exETokkyu: ＥＸ予約(ｅ特急券)<br>- exHayatoku: ＥＸ予約(ＥＸ早特)<br>- exHayatoku21: ＥＸ予約(ＥＸ早特２１)<br>- exGreenHayatoku: ＥＸ予約(ＥＸグリーン早特)<br>＜<a target="_blank" href="http://docs.ekispert.com/v1/dictionary/express-reservation-service/">スマートＥＸ</a>＞<br>- smartEx: スマートＥＸ<br>- smartExHayatoku: スマートＥＸ(ＥＸ早特)<br>- smartExHayatoku21: スマートＥＸ(ＥＸ早特２１)<br>- smartExGreenHayatoku: スマートＥＸ(ＥＸグリーン早特)<br>Default: `none`
          in: query
          required: false
          schema:
            type: string
        - name: studentDiscount
          description: |-
            学割乗車券。JRReservationと同時指定は不可。省略可<br>指定できる値:<br>- true:計算する<br>- false:計算しない<br>Default: `false` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: ticketSystemType
          description: |-
            乗車券計算のシステム。省略可<br>指定できる値:<br>- normal:普通乗車券のみ計算する<br>- ic:ICカード乗車券も計算する<br>Default: `normal` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: preferredTicketOrder
          description: |-
            優先する乗車券の順序。乗車券計算のシステムに"ic"を設定した場合のみ有効。省略可<br>指定できる値:<br>- none:指定なし<br>- normal:普通乗車券を優先する<br>- ic:ICカード乗車券を優先する<br>- cheap:安い乗車券を優先する<br>Default: `none` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
        - name: nikukanteiki
          description: |-
            <a target="_blank" href="http://docs.ekispert.com/v1/dictionary/nikukanteiki/">二区間定期券</a>の利用。省略可<br>指定できる値:<br>- true:利用する<br>- false:利用しない<br>Default: `false` (detailパラメータ指定時はdetailの値)
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 正常レスポンスの場合
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: key  # name of the header, query parameter or cookie
  schemas:
