openapi: "3.0.0"
info:
  version: 1.0.0
  title: mixway API Documents
servers:
  - url: https://mixway.ekispert.jp
security:
  - ApiKeyAuth: []
paths:
  /v1/json/station:
    get:
      tags:
        - 駅情報
      description: |-
        ### 概要
        指定された条件に当てはまる駅の情報を返します。<br>
        [駅すぱあとWebサービスの対応するAPI](http://docs.ekispert.com/v1/api/station.html)<br>

        ### リクエストパラメータ
        <table class="comparison">
        <tr><th>パラメータ名</th><th>EWS</th><th>mixway</th><th>備考</th></tr>
        <tr><td>key</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>name</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>oldName</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>code</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>corporationName</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>railName</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>operationLineCode</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>type</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>prefectureCode</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>offset</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>limit</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>direction</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>corporationBind</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>addGateGroup</td><td>○</td><td>○</td><td></td></tr>
        <tr><td>gcs</td><td>○</td><td>○</td><td></td></tr>
        </table>
        <div class="about-comparison-table">
          ○＝パラメータあり　☓＝パラメータなし　両方○でも機能差異がある場合は備考欄および後述のParameters節に記載。
        </div>

        ### レスポンス
        本APIのレスポンス構造は駅すぱあとWebサービスの対応するAPI（JSON版）と完全に同一です。
      parameters:
        - name: name
          description: |-
            候補文字列。oldName, code, corporationName, railName, operationLineCode と排他。かつ省略可なため、排他のパラメータが存在しない場合はname省略扱いとなります。
          in: query
          required: false
          schema:
            type: string
        - name: oldName
          description: |-
            駅の旧名称。name, code, corporationName, railName, operationLineCode と排他。
            ※路線バス停名は旧名称に対応していません。
          in: query
          required: false
          schema:
            type: string
        - name: code
          description: |-
            [駅コード](http://docs.ekispert.com/v1/dictionary/station-code/)。name, oldName, corporationName, railName, operationLineCode と排他。
          in: query
          required: false
          schema:
            type: integer
        - name: corporationName
          description: |-
            [会社](http://docs.ekispert.com/v1/dictionary/corporation/)。name, code, railName, operationLineCode と排他。
          in: query
          required: false
          schema:
            type: string
        - name: railName
          description: |-
            「駅すぱあと」の[平均路線](http://docs.ekispert.com/v1/dictionary/average-rail/)名。name, code, corporationName, operationLineCode と排他。
          in: query
          required: false
          schema:
            type: string
        - name: operationLineCode
          description: |-
            [運行路線](http://docs.ekispert.com/v1/dictionary/service-rail/)コード。name, oldName, code, corporationName, railName と排他。
          in: query
          required: false
          schema:
            type: string
        - name: type
          description: |-
            駅の路線の[交通種別](http://docs.ekispert.com/v1/dictionary/type/) 。oldName, code, corporationName, railName, operationLineCode 利用時には無効です。[複数指定](http://docs.ekispert.com/v1/api/#%E8%A4%87%E6%95%B0%E6%8C%87%E5%AE%9A)可。省略可。省略時は指定なしとなります。
          in: query
          required: false
          schema:
            type: string
        - name: prefectureCode
          description: |-
            [都道府県コード](http://docs.ekispert.com/v1/dictionary/prefecture-code/)。省略可。[複数指定](http://docs.ekispert.com/v1/api/#%E8%A4%87%E6%95%B0%E6%8C%87%E5%AE%9A)可。oldName, code, railName, operationLineCode 指定時無効です。省略時は全国が対象となります。
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          description: |-
            データの取得開始位置。省略可。oldName, code, railName, operationLineCode 指定時無効です。<br>
            Default: `1`<br>
            ※ 詳しくは[駅情報を全件取得する](http://docs.ekispert.com/v1/tips/get-all-station/)をご確認ください。<br>
          in: query
          required: false
          schema:
            type: integer
        - name: limit
          description: |-
            データのブロック件数。省略可。oldName, code, railName, operationLineCode 指定時無効です。最大100件。<br>
            Default: `100`
          in: query
          required: false
          schema:
            type: integer
        - name: direction
          description: |-
            路線の停車駅取得方向。railName, operationLineCode 指定時のみ有効。
            指定できる値:
            - up: 通常
            - down: 反転
            - none: 指定なし

            Default: `up`
          in: query
          required: false
          schema:
            type: string
        - name: corporationBind
          description: |-
            固定会社名。指定した[会社](http://docs.ekispert.com/v1/dictionary/corporation/)のみ利用します。[複数指定](http://docs.ekispert.com/v1/api/#%E8%A4%87%E6%95%B0%E6%8C%87%E5%AE%9A)可。最大10件。省略可。省略時は制限のない通常の取得となります。
          in: query
          required: false
          schema:
            type: string
        - name: addGateGroup
          description: |-
            結果の駅に出口グループ(鉄道のみ)を付加するかどうかを指定します。省略可。
            指定できる値:
            - true: 付加します
            - false: 付加しません

            Default: `false`
          in: query
          required: false
          schema:
            type: string
        - name: gcs
          description: |-
            リクエストやレスポンスに座標が含まれる場合、座標の測地系を指定することができます。また、リクエストパラメータの[座標情報](http://docs.ekispert.com/v1/dictionary/coordinate-information/)はgcsパラメータとは別の測地系を個別に指定可能です。省略可。
            指定できる値:
            - tokyo: 日本測地系
            - wgs84: 世界測地系

            Default: `tokyo`
          in: query
          required: false
          schema:
            type: string

      responses:
        '200':
          description: 正常レスポンスの場合
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: query       # can be "header", "query" or "cookie"
      name: key  # name of the header, query parameter or cookie
  schemas:

